body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h2 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
}

.box-1 {
	height: 300px;
	background-color: #FFFFC1;
}	

.box-2 {
	height: 400px;
	background-color: #FFD2A5;
}

.box-3 {
	height: 450px;
	background-color: #D38CAD;
}

.pTag {
	margin-inline-start: 400px;
	margin-inline-end: 400px;
}

.nav-box {
	height: 55px;
}

.img-mission {
	height: 200px;
	width: 300px;
}

.img-features {
	height: 200px;
	width: 400px;
}

.container {
	margin-top: 60px;
}

.foot-height {
	height: 250px;
	color: white;
	background-color: #655851;
}

#heading {
	height: 350px;
	color: white;
}


.logOut {
	position: absolute;
	right: 150px;
	top: 55px;
	font-size: 20px;
}

.Personal {
	padding-bottom: 100px;
}

#foot {
	height: 500px;
	background-color: black;
}

#img1 {
	height: 50px;
	width: 50px;
}

#img2 {
	height: 50px;
	width: 50px;
}

#img3 {
	height: 50px;
	width: 50px;
}

.title {
	color: white;
	position: relative;
	bottom: 80px;
	right: 150px;
}


body {
	background-color: #0C090A;
}

.body {
	margin-inline-end: 300px;
	margin-inline-start: 300px;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

/*New Styles*/

/*Color Themes Styles*/

.pink-heading-collapsible {
	background-color: #FFA5A5;
}

.pink-body-collapsible {
	background-color: #ffd9d9;
}

.pink-mode-background {
	background-color: #FF8585;
}

.pink-mode-background-image {
	background-image: url('Images/Pink_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.purple-heading-collapsible {
	background-color: #B980F0;
}

.purple-body-collapsible {
	background-color: #e1c2ff;
}

.purple-mode-background {
	background-color: #866EC7;
}

.purple-mode-background-image {
	background-image: url('Images/Purple_background_image.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}

.green-heading-collapsible {
	background-color: #50CB93;
}

.green-body-collapsible {
	background-color: #b0ffdb;
}

.green-mode-background {
	background-color: #56776C;
}

.green-mode-background-image {
	background-image: url('Images/green_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.red-heading-collapsible {
	background-color: #F8485E;
}

.red-body-collapsible {
	background-color: #fc9fab;
}

.red-mode-background {
	background-color: #FA1E0E;
}

.red-mode-background-image {
	background-image: url('Images/Red_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.blue-heading-collapsible {
	background-color: #7C83FD;
}

.blue-body-collapsible {
	background-color: #d1d4ff;
}

.blue-mode-background {
	background-color: #7579E7;
}

.blue-mode-background-image {
	background-image: url('Images/blue_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.orange-heading-collapsible {
	background-color: #FB9300;
}

.orange-body-collapsible {
	background-color: #ffd69c;
}

.orange-mode-background {
	background-color: #FC5404;
}

.orange-mode-background-image {
	background-image: url('Images/orange_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.yellow-heading-collapsible {
	background-color: #FFC947;
}

.yellow-body-collapsible {
	background-color: #ffe29c;
}

.yellow-mode-background {
	background-color: #F7FD04;
}

.yellow-mode-background-image {
	background-image: url('Images/yellow_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.brown-heading-collapsible {
	background-color: #B05B3B;
}

.brown-body-collapsible {
	background-color: #cf9680;
}

.brown-mode-background {
	background-color: #753422;
}

.brown-mode-background-image {
	background-image: url('Images/brown_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.black-heading-collapsible {
	background-color: #171010;
}

.black-body-collapsible {
	background-color: #332e2e;
	color: white;
}

.black-mode-background {
	background-color: #171010;	
}

.black-mode-background-image {
	background-image: url('Images/black_background_image.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*Seasonal Themes Styles*/
.Winter-heading-collapsible {
	background-image: linear-gradient(to right, #EEEEEE, #787A91, #141E61, #0F044C);
}

.Winter-body-collapsible {
	background-image: linear-gradient(to right, #EEEEEE, #8e92ab, #61668c);
} 

.Winter-mode-background {
	background-image: linear-gradient(to right, #EEEEEE, #787A91, #141E61, #0F044C);
}

.Winter-mode-background-image {
	background-image: url('Images/winter_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Autumn-heading-collapsible {
	background-image: linear-gradient(to right, #F9E0AE, #FC8621, #C24914, #682C0E);
}

.Autumn-body-collapsible {
	background-image: linear-gradient(to right, #F9E0AE, #cf8b6d, #ffbe87, #FC8621);
}

.Autumn-mode-background {
	background-image: linear-gradient(to right, #F9E0AE, #FC8621, #C24914, #682C0E);
}

.Autumn-mode-background-image {
	background-image: url('Images/autumn_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Rainbow-heading-collapsible {
	background-image: linear-gradient(to right, #FF6464, #FFBD67, #F8FE85, #5BE7A9, #3B14A7, #52006A);
}

.Rainbow-body-collapsible {
	background-image: linear-gradient(to right, #98DDCA, #D5ECC2, #FFD3B4, #FFAAA7);
}

.Rainbow-mode-background {
	background-image: linear-gradient(to right, #FF6464, #FFBD67, #F8FE85, #5BE7A9, #3B14A7, #52006A);
}

.Rainbow-mode-background-image {
	background-image: url('Images/rainbow_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Nature-heading-collapsible {
	background-image: linear-gradient(to right, #BFCBA8, #5B8A72, #56776C, #464F41);
}

.Nature-body-collapsible {
	background-image: linear-gradient(to right, #BFCBA8, #56776C, #5B8A72);
}

.Nature-mode-background {
	background-image: linear-gradient(to right, #BFCBA8, #5B8A72, #56776C, #464F41);
}

.Nature-mode-background-image {
	background-image: url('Images/nature_background_theme_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Spring-heading-collapsible {
	background-image: linear-gradient(to right, #B5EAEA, #EDF6E5, #F6DFEB, #E4BAD4);
}

.Spring-body-collapsible {
	background-image: linear-gradient(to right, #FFE6E6, #FFABE1, #A685E2);
}

.Spring-mode-background {
	background-image: linear-gradient(to right, #B5EAEA, #EDF6E5, #F6DFEB, #E4BAD4);
}

.Spring-mode-background-image {
	background-image: url('Images/spring_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Night-heading-collapsible {
	background-image: linear-gradient(to right, #B4A5A5, #3C415C, #3C415C, #151515);
}

.Night-body-collapsible {
	background-image: linear-gradient(to right, #EEEEEE, #548CA8, #476072, #334257);
}

.Night-mode-background {
	background-image: linear-gradient(to right, #B4A5A5, #3C415C, #3C415C, #151515);
}

.Night-mode-background-image {
	background-image: url('Images/night_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Earth-heading-collapsible {
	background-image: linear-gradient(to right, #CC7351, #E08F62, #DED7B1, #9DAB86);
}

.Earth-body-collapsible {
	background-image: linear-gradient(to right, #FFE9D6, #A7D0CD, #DE8971, #7B6079);
}

.Earth-mode-background {
	background-image: linear-gradient(to right, #CC7351, #E08F62, #DED7B1, #9DAB86);
}

.Earth-mode-background-image {
	background-image: url('Images/brown_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Space-heading-collapsible {
	background-image: linear-gradient(to right, #FFE3FE, #B4AEE8, #93329E, #440A67);
}

.Space-body-collapsible {
	background-image: linear-gradient(to right, #FFE3FE, #B4AEE8, #93329E);
}

.Space-mode-background {
	background-image: linear-gradient(to right, #FFE3FE, #B4AEE8, #93329E, #440A67);
}

.Space-mode-background-image {
	background-image: url('Images/Space_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Retro-heading-collapsible {
	background-image: linear-gradient(to right, #FFC996, #FF8474, #9F5F80, #583D72);
}

.Retro-body-collapsible {
	background-image: linear-gradient(to right, #FFE9D6, #A7D0CD, #7B6079);
}

.Retro-mode-background {
	background-image: linear-gradient(to right, #FFC996, #FF8474, #9F5F80, #583D72);
}

.Retro-mode-background-image {
	background-image: url('Images/Retro_theme_background_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}


/*Password Reset CSS */
.password {
	height: 200px;
	color: white;
}

.pTag20 {
	margin-left: 240px;
	margin-right: 220px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.textarea {
	height: 500px;
	width: 800px;
	background-color: white;
	font-family: Calibri;
	text-align: left;
	margin-top: 0px;
}

#selectedFiles img {
	max-width: 125px;
	max-height: 125px;
	float: left;
	margin-bottom: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: 'Karma', serif;
}

/*Font Families*/
.Helvetica-font-family {
	font-family: Helvetica;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Calibri-font-family {
	font-family: Calibri;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Futura-font-family {
	font-family: Futura;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Garamond-font-family {
	font-family: Garamond;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Times-New-Roman-font-family {
	font-family: Times;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Trade-Secrets-font-family {
	font-family: 'Trade-secrets';
	height: 500px;
	width: 800px;
	background-color: white;
}

.Arial-font-family {
	font-family: Arial;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Garamond-font-family {
	font-family: Garamond;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Cambria-font-family {
	font-family: Cambria;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Verdana-font-family {
	font-family: Verdana;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Rockwell-font-family {
	font-family: Rockwell;
	height: 500px;
	width: 800px;
	background-color: white;
}

.Franklin-Gothic-font-family {
	font-family: Franklin Gothic;
	height: 500px;
	width: 800px;
	background-color: white;
}

/*Font Sizes*/
.five-size {
	font-size: 5px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.ten-size {
	font-size: 10px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.twelve-size {
	font-size: 12px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.fourteen-size {
	font-size: 14px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.sixteen-size {
	font-size: 16px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.eighteen-size {
	font-size: 18px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.twenty-size {
	font-size: 20px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.twenty-five-size {
	font-size: 25px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.thirty-size {
	font-size: 30px;
	height: 500px;
	width: 800px;
	background-color: white;
}

.fourty-size {
	font-size: 40px;
	height: 500px;
	width: 800px;
	background-color: white;
}

/*Font Colors*/
.black-color {
	color: black;
	height: 500px;
	width: 800px;
	background-color: white;
}

.grey-color {
	color: grey;
	height: 500px;
	width: 800px;
	background-color: white;
}

.white-color {
	color: white;
	height: 500px;
	width: 800px;
	background-color: white;
}

.blue-color {
	color: blue;
	height: 500px;
	width: 800px;
	background-color: white;
}

.red-color {
	color: red;
	height: 500px;
	width: 800px;
	background-color: white;
}

.purple-color {
	color: purple;
	height: 500px;
	width: 800px;
	background-color: white;
}

.pink-color {
	color: pink;
	height: 500px;
	width: 800px;
	background-color: white;
}

.green-color {
	color: green;
	height: 500px;
	width: 800px;
	background-color: white;
}

.dropbtn {
	background-color: #deab90;
	border: none;
	color: black;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
	left: 100px;
	top: 58px;
	margin-bottom: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown:hover .dropbtn {
	background-color: #deab90;
}

/*Dropdown 2*/
.dropbtn2 {
	background-color: #deab90;
	border: none;
	color: black;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 5px;
}

.dropdown2 {
	position: relative;
	display: inline-block;
	margin-bottom: 22px;
}

.dropdown2-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown2-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown2-content a:hover {
	background-color: #ddd;
}

.dropdown2:hover .dropdown2-content {
	display: block;
}

.dropdown2:hover .dropbtn {
	background-color: #3e8e41;
}

/*Dropdown 3*/
.dropbtn3 {
	background-color: #deab90;
	border: none;
	color: black;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.dropdown3 {
	position: relative;
	display: inline-block;
	right: 120px;
	bottom: 60px;
}

.dropdown3-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown3-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown3-content a:hover {
	background-color: #ddd;
}

.dropdown3:hover .dropdown3-content {
	display: block;
}

.dropdown3:hover .dropbtn {
	background-color: #3e8e41;
}


hr {
	border: none;
	border-top: 8px dotted white;
	color: black;
	height: 1px;
	width: 50%;
}

.features-info {
	margin-inline-start: 300px;
	margin-inline-end: 300px;
}

.goal-info {
	margin-inline-start: 300px;
	margin-inline-end: 300px;
}

.logo-diarywise {
  height: 2em;
  width: 3.5em;
}

.contact-form {
	width: 500px;
}

.dropdown-content {
	color: black;
}

.dropdown2-content {
	color: black;
}

.dropdown3-content {
	color: black;
}

footer {
	background-color: black;
	color: white;
	height: 330px;
}

.description-footer {
	text-align: center;
}

.github {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.linkedln {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.devpost {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

.link-footer:hover {
	text-decoration: none;
}

.hr-dotted {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 10px;
  width: 30%;
}